## Listas

In [1]:
# Criação de lista
linguagens = ['Python', 'R', 'Julia', 'PHP']

In [2]:
print(linguagens)

['Python', 'R', 'Julia', 'PHP']

In [3]:
# Lista heterogenea
mundiais = ["Brasil", 58, 62, 70, 94, 2002]

In [4]:
print(mundiais)

['Brasil', 58, 62, 70, 94, 2002]

In [5]:
# Assim como em strings, podemos também indexar listas.
pais = mundiais[0]
titulo01 = mundiais[1]
titulo02 = mundiais[2]
titulo03 = mundiais[3]
titulo04 = mundiais[4]
titulo05 = mundiais[5]

In [6]:
print(pais)
print(titulo01)
print(titulo02)
print(titulo03)
print(titulo04)
print(titulo05)

Brasil
58
62
70
94
2002

## Atualização de Listas

In [7]:
# Listas são mutáveis
mundiais[0] = "Alemanha"

In [8]:
mundiais[0]

'Alemanha'

In [9]:
mundiais

['Alemanha', 58, 62, 70, 94, 2002]

## Operação com Listas

#### Delete - Podemos deletar um elemento separado ou um range através de ÍNDICE

In [10]:
del mundiais[1:]

In [11]:
print(mundiais)

['Alemanha']

In [12]:
# Adicionando elemento
mundiais.append(2014)

In [13]:
print(mundiais)

['Alemanha', 2014]

In [14]:
# Adicionando mais de um elemento
mundiais.extend([1954, 1974, 1990, 1990])

In [15]:
print(mundiais)

['Alemanha', 2014, 1954, 1974, 1990, 1990]

In [16]:
# Podemos remover um elemento específico com a função REMOVE
mundiais.remove(1990)

## Lista Aninhadas

In [17]:
mundiais = [["Brasil", 58, 62, 70, 94, 2002], ["Alemanha", 1954, 1974, 1990, 2014]]

In [18]:
print(mundiais)

[['Brasil', 58, 62, 70, 94, 2002], ['Alemanha', 1954, 1974, 1990, 2014]]

In [19]:
# Trazendo o primeiro elemento da lista
print(mundiais[0])

['Brasil', 58, 62, 70, 94, 2002]

In [20]:
# Acessando a lista e trazendo o segundo título do Brasil
print(mundiais[0][2])

62

## Concatenando Listas

In [21]:
a = ["Argentina", 1986, 1978]

In [22]:
b = ["Alemanha", 1954, 1974, 1990, 2014]

In [23]:
c = ["Brasil", 58, 62, 70, 94, 2002]

In [24]:
# Concatenando
fifa = a + b + c

In [25]:
fifa

['Argentina',
 1986,
 1978,
 'Alemanha',
 1954,
 1974,
 1990,
 2014,
 'Brasil',
 58,
 62,
 70,
 94,
 2002]

In [26]:
fifa[10]

62

## Operador in

In [27]:
# Verificando se um elemento está na lista
print("Uruguai" in fifa)

False

In [28]:
print("Brasil" in fifa)

True

In [29]:
# Imprimindo os títulos de uma equipe
equipe = "Brasil"

if equipe in fifa:
    a = fifa.index(equipe)
    print("Indíce da equipe:", a)
    print(equipe)
    print(fifa[a + 1 :])
else:
    print(equipe + ' não possui títulos ou não está na lista')

Indíce da equipe: 8
Brasil
[58, 62, 70, 94, 2002]

## Funções Built-in

In [30]:
# Retorna o tamanho da lista
len(fifa)

14

In [31]:
# Valor máximo da lista Não funciona com listas heterogeneas
max(fifa)

TypeError: '>' not supported between instances of 'int' and 'str'

In [32]:
numeros = [34, 65, 32, 23, 54, 98, 12]
palavras = ['Macaco', 'Zebra', 'Cachorro', 'Gato']  # Alfabetica

In [33]:
print(max(palavras))
print(max(numeros))

Zebra
98

In [34]:
# Valor minimo da lista
print(min(palavras))
print(min(numeros))

Cachorro
12

In [35]:
# Reverte a lista POSICIONALMENTE
numeros = [10, 2, 8, 4, 5, 6, 7]
numeros.reverse()
numeros

[7, 6, 5, 4, 8, 2, 10]

In [36]:
# Ordena a lista em ORDEM CRESCENTE
numeros.sort()
numeros

[2, 4, 5, 6, 7, 8, 10]

In [37]:
# Adicionando um valor repetido
palavras.append("Macaco")

# Contando o numero de ocorrencias
palavras.count("Macaco")

print(palavras)

['Macaco', 'Zebra', 'Cachorro', 'Gato', 'Macaco']

In [38]:
# Criando uma lista vazia
a = []

In [39]:
print(a)

[]

In [40]:
type(a)

list

## POP - Retira o último objeto da lista, mas tem como retorno o próprio objeto. É POSICIONAL

In [41]:
lista = ['B', 'C', 'D', 'E', 'A']

print(lista)

['B', 'C', 'D', 'E', 'A']

In [42]:
print(lista.pop())

A

In [43]:
lista = ['Estatistica', 'SQL', 'ETL', 'Big Data', 'Machine Learning']

print(lista)

['Estatistica', 'SQL', 'ETL', 'Big Data', 'Machine Learning']

In [44]:
print(lista.pop())

Machine Learning

In [45]:
print(lista)

['Estatistica', 'SQL', 'ETL', 'Big Data']

In [46]:
# Podemos também INDEXAR o objeto, iniciando de 0
print("Retirado o objeto", lista.pop(1))

Retirado o objeto SQL

In [47]:
print(lista)

['Estatistica', 'ETL', 'Big Data']

In [48]:
print("Quero retirar o objeto ETL. Retirado:", lista.pop(1))

Quero retirar o objeto ETL. Retirado: ETL