## Os sets são consjuntos únicos. Semelhante à um SELECT DISTINCT, e são muito utilizados em análises de Dados.

In [1]:
conjunto = set()

In [2]:
conjunto.add("Java")
conjunto.add("R")
conjunto.add("Python")

In [3]:
print(conjunto)

{'R', 'Python', 'Java'}

In [4]:
# Tentando adicionar um elemento repetido
conjunto.add("Java")

In [5]:
# Imprimindo novamente
print(conjunto)

{'R', 'Python', 'Java'}

In [6]:
# Sets não suportam indexação
conjunto[1]

TypeError: 'set' object is not subscriptable

In [7]:
type(conjunto)

set

In [8]:
engenheiros = set(['João', 'Jane', 'Clara', 'Celia'])
programadores = set(['Clara', 'Sam', 'Susan', 'Celia'])
gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])

In [9]:
engenheiros

{'Celia', 'Clara', 'Jane', 'João'}

In [10]:
# União
funcionarios = engenheiros | programadores | gerentes

funcionarios

{'Celia', 'Clara', 'Jane', 'João', 'Sam', 'Susan', 'Zack'}

In [11]:
# Interseção

gerencia_de_engenharia = engenheiros & gerentes

gerencia_de_engenharia

{'Clara', 'Jane'}

In [12]:
# Diferença
gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])
engenheiros = set(['João', 'Jane', 'Clara', 'Celia'])

a = gerentes - engenheiros

a

{'Susan', 'Zack'}

In [13]:
gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])
programadores = set(['Clara', 'Sam', 'Susan', 'Celia'])

b = gerentes - programadores

b

{'Jane', 'Zack'}